<html>
  <head>
    <title>State of the Pants</title>

    <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/awesome.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://use.typekit.com/hwz3dat.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body>

    <div class="content">
      <div class="title">
        <h1> State of the Pants </h1>
      </div>

      <%= yield %>

    </div>

  </body>
</html>
