<div class="search">
  <h3 class="message">Enter a twitter username</h3>

  <form action='/search' method="post">
    <input type="text" name="username" />
    <br/>
    <input type="submit" value="State of the Pants" class="awesome big" />
  </form>

  <br/>
  <br/>
</div>
