<div class="result">
  <div class="data">
    <h2><%= @result %> </h2>
  </div>

  <% if @tweet %>
    <p style="font-size:13pt;" class="message">
      This is loosely<span style="vertical-align:top; color:#a80000; font-size:10pt">*</span> based on the following tweet:
    </p>
    <p style="color:#5253f7">"<%= @tweet %>"</p>
  <% end %>

  <div id="evals" style="padding:30px">
    <h2>Help us make us better</h2>
    Was this evaluation any good?
    <div style="padding-top:15px">
      <a href="/evaluate?id=<%=@id%>&eval=yes" class="eval awesome">Yes</a>
      <a href="/evaluate?id=<%=@id%>&eval=no" class="eval awesome">No</a>
    </div>
  </div>
  
  <div style="padding-top:40px">
    <a href="/" class="awesome big">Again</a>
  </div>
  
  <p style="font-size:9pt; color:#999" class="disclaimer">
    <span style="vertical-align:super; color:#a80000;">*</span>Please keep in mind that this is in no way an accurate representation of whether or not
    this individual actually is wearing pants. We are meerly estimating the likelihood of 
    the current pants situation. Please take all results with a grain of salt, two cents, and any other 
    measure that cancels all credibility of these results.
  </p>

</div>
